@{

}

<h2>@ViewData["Title"]</h2>
<p>@ViewData["Description"]</p>
<h6>@ViewData["Author"]</h6>

<a class="btn btn-outline-danger" href="/Home/DeletePostById/@ViewData["Id"]">Delete post</a>

<a class="m-4" href="/Home/GetPostListArray">Back to home</a>

